/* CSS */

.row3 {
background-color:blue;
}

#tryit {
  width:56px;
}

#menubar {
  color:red;
}

#mainArea {
  color:blue;
}

#tryit2 {
  width:56px;
}

#menubar3 {
  color:red;
}

#mainArea4 {
  color:blue;
}
#tryit23 {
  width:56px;
}

#menubar37 {
  color:red;
}

#mainArea42 {
  color:blue;
}
